.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    animation: fadeSlideUp 1s ease forwards;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-indicator {
    position: fixed;
    top: 90%;
    left: clamp(20px, 4vw, 40px);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 1.5vw, 15px);
    z-index: 1001;
}

.scroll-indicator .dot {
    width: clamp(8px, 1vw, 10px);
    height: clamp(8px, 1vw, 10px);
    border-radius: 50%;
    background-color: lightgrey;
    transition: background-color 0.3s;
}

.scroll-indicator .dot.active {
    background-color: #1F4397;
}

/* containers */
.row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 200px;
}

.row-container.sweet-spotlights{
    border: none;
    border-bottom: 2px dotted #1F4397;
}

/* text styles */
.poppins-header {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: clamp(24px, 3vw, 36px);
    color: #1F4397;
    width: 100%;
}