.navbar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

/* Desktop Nav */
.navbar-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar-links li a {
    text-decoration: none;
    color: #696969;
    font-weight: 400;
    transition: color 0.3s ease-in;
}

.navbar-links li a:hover {
    color: #000000;
}

.navbar-links li a.active {
    font-weight: 600;
    text-decoration: underline;
}

/* Mobile Hamburger */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background: #000;
    transition: 0.3s;
}

.navbar-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 15px;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .menu-icon {
        display: flex;
    }
}